syncthing {
    address: "127.0.0.1:8081"
    api_key: "abc123"
}
syncthing {
    address: "127.0.0.1:8082"
    api_key: "abc123"
}

pattern {
    # Accept devices from 172.16.32.0/24
    accept_cidr: "172.16.32.0/24"
    accept_cidr: "127.0.0.0/8"

    settings {
        max_send_kbps: 250
        max_recv_kbps: 150
        num_connections: 1
        max_request_kib: 1024
    }

    # Assign them the folder "default".
    folder {
        id: "default"
    }

    # Also an individual folder for each device. The `settings` are used if
    # the folder needs to be created, otherwise the device is simply added
    # to the existing folder configuration.
    folder {
        id: "${name}"
        settings {
            label: "Device ${name}'s folder"
            type: SEND_RECEIVE
            path: "/var/device-folders/${name}"
            fs_watcher_disabled: true
            rescan_interval_s: 86400
            case_sensitive_fs: true
            ignore_permissions: true
        }
    }
}

# Another pattern accepts devices from 10.0.0.0/8 and shares the "images"
# folder with them.
pattern {
    accept_cidr: "10.0.0.0/8"
    folder {
        id: "images"
    }
}

# garbage_collect {
#     run_every_s: 86400;
#     unseen_devices_days: 90;
#     unshared_folders: true;
# }