[Unit]
Description=Syncthing Auto-Accept Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/default/syncthing-autoacceptd
ExecStart=/usr/sbin/syncthing-autoacceptd
Restart=on-failure
RestartPreventExitStatus=255
RuntimeDirectory=syncthing-acceptd
RuntimeDirectoryMode=0755
